.container {
  width: 1111px;
  margin: 0 auto;
  padding: 79px 0;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f9f9f9;
}

.about-me {
  width: 540px;
  text-align: center;
  margin: 112px auto 100px;
}

.about-me__title {
  font-size: 32px;
  font-weight: 500;
  margin: 0 0 50px 0;
}

.about-me__text {
  color: #727272;
  font-size: 16px;
  margin: 53px 0 0 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.section_icon {
  background-color: #34547a;
  padding-block: 100px;
}

.ul_flex {
  display: flex;
  gap: 45px;
  justify-content: center;
}

.li_flex {
  display: flex;
  gap: 20px;
  transition: all 0.5s;
}
.li_flex:hover {
  transform: scale(1.15);
  transition: all 0.5s;
}

.span_flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.span_text {
  color: white;
}
