body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #727272;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.section_icon {
  background-color: #34547a;
  padding-block: 100px;
}

.ul_flex {
  display: flex;
  gap: 45px;
  justify-content: center;
}

.li_flex {
  display: flex;
  gap: 20px;
  transition: all 0.5s;
  align-items: center;
}
.li_flex:hover {
  transform: scale(1.15);
  transition: all 0.5s;
}

.span_flex {
  display: flex;
  flex-direction: column;
}

.span_text {
  color: white;
}

.span_size_one {
  font-size: 21px;
  font-weight: 500;
}
