.container {
  width: 1111px;
  margin: 0 auto;
  padding: 79px 0;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

.button {
  background-color: rgba(52, 84, 122, 1);
  width: 225px;
  color: rgba(255, 255, 255, 1);
  padding: 24px 56px;
}
h1 {
  margin-top: 170px;
}
.text {
  color: rgba(114, 114, 114, 1);
  margin: 60px;
  margin-left: 0;
  width: 540px;
}
.menu-item {
  margin-right: 51px;
}
