:root {
  --bg-color-one: #eeeff1;
  --bg-color-second: #34547a;
  --bg-color-third: #eeeff187;
  --hover-color: red;
  --title-color: black;
  --text-color: #727272;
  --white-text: white;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

/* Section Hero */
.hero {
  background-color: var(--bg-color-one);
}

.header {
  padding: 80px 0 115px;
}
.header_items {
  display: flex;
  gap: 50px;
}
.header_item:hover {
  transition: all 0.5s;
  transform: scale(1.15);
}

.header_link {
  color: var(--title-color);
  letter-spacing: 10%;
}
.header_link:hover {
  color: var(--bg-color-second);
  transition: all 0.5s;
}

.hero_title {
  font-weight: 500;
  font-size: 48px;
  color: var(--title-color);
  margin-bottom: 60px;
}

.hero_desc {
  width: 540px;
  margin-bottom: 60px;
}

.header_button {
  background-color: var(--bg-color-second);
  padding: 15px 40px;
  color: var(--white-text);
  border: none;
  letter-spacing: 1.6px;
  margin-bottom: 140px;
  cursor: pointer;
}
.header_button:hover {
  background-color: var(--hover-color);
  transition: all 0.5s;
  transform: scale(1.15);
  border-radius: 15px;
}
/* Section Hero */

/* Section about */
.about-me {
  background-color: var(--bg-color-third);
}

.about-me__content {
  width: 540px;
  padding-block: 100px;
  margin: auto;
  text-align: center;
}

.about-me__title {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 50px;
  color: var(--title-color);
}
/* Section about

/* Section icon */
.section_icon {
  background-color: var(--bg-color-second);
  padding-block: 100px;
}

.ul_flex {
  display: flex;
  gap: 45px;
  justify-content: space-between;
}

.li_flex {
  display: flex;
  gap: 20px;
  transition: all 0.5s;
  align-items: center;
}
.li_flex:hover {
  transform: scale(1.15);
  transition: all 0.5s;
}

.span_flex {
  display: flex;
  flex-direction: column;
}

.span_text {
  color: var(--white-text);
}

.span_size_one {
  font-size: 21px;
  font-weight: 500;
}
/* Section icon */

/* How_I_Work section */
.section_how_i_work {
  background-color: var(--bg-color-one);
}

.video {
  width: 540px;
  text-align: center;
  margin: 0 auto;
  padding: 100px 0px 55px;
}

.how_i_work {
  font-size: 32px;
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: 50px;
}

.video_block {
  position: relative;
}

.video_player {
  max-width: 100%;
  display: block;
  padding-bottom: 100px;
}

.play_button {
  position: absolute;
  top: 35%;
  left: 45%;
  width: 100px;
  height: 100px;
  cursor: pointer;
}
.play_button:hover {
  transform: scale(1.15);
  transition: all 0.5s;
  background-color: var(--hover-color);
  border-radius: 50%;
}
/* How_I_Work section */

/* Footer */
.footer-block {
  background-color: var(--bg-color-second);
}

.footer_content {
  padding-block: 50px;
}

.name {
  color: var(--white-text);
  line-height: 1.5;
  font-size: 21px;
  margin-bottom: 20px;
}

.copyright {
  color: var(--white-text);
  line-height: 1.5;
}
/* Footer */
