body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #727272;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  background-color: #f9f9f9;
}

.about-me {
  width: 540px;
  text-align: center;
  margin: 112px auto 100px;
}

.about-me__title {
  font-size: 32px;
  font-weight: 500;
  margin: 0 0 50px 0;
}

.about-me__text {
  color: #727272;
  font-size: 16px;
  margin: 53px 0 0 0;
}

.button {
  background-color: rgba(52, 84, 122, 1);
  width: 225px;
  color: rgba(255, 255, 255, 1);
  padding: 24px 56px;
}
h1 {
  margin-top: 170px;
}
.text {
  color: rgba(114, 114, 114, 1);
  margin: 60px;
  margin-left: 0;
  width: 540px;
}
.menu-item {
  margin-right: 51px;
}
.rectangle {
  background-color: rgba(238, 239, 241, 1);
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.section_icon {
  background-color: #34547a;
  padding-block: 100px;
}

.ul_flex {
  display: flex;
  gap: 45px;
  justify-content: center;
}

.li_flex {
  display: flex;
  gap: 20px;
  transition: all 0.5s;
  align-items: center;
}
.li_flex:hover {
  transform: scale(1.15);
  transition: all 0.5s;
}

.span_flex {
  display: flex;
  flex-direction: column;
}

.span_text {
  color: white;
}

.span_size_one {
  font-size: 21px;
  font-weight: 500;
}
