@use "variables";
@use "mixins";

.about-me {
  background-color: variables.$bg-color-third;

  &__content {
    width: 540px;
    padding-block: 100px;
    margin: auto;
    text-align: center;

    @media (max-width: variables.$media_lg) {
      & {
        padding-block: 50px;
      }
    }

    @media (max-width: variables.$media_md) {
      & {
        width: auto;
        padding: 50px;
      }
    }

    @media (max-width: variables.$media_sm) {
      & {
        padding-block: 30px;
      }
    }
  }

  &__title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 50px;
    color: variables.$title-color;

    @media (max-width: variables.$media_md) {
      & {
        font-size: 28px;
      }
    }

    @media (max-width: variables.$media_sm) {
      & {
        font-size: 22px;
        margin-bottom: 20px;
      }
    }
  }
}
