@use "variables";
@use "mixins";

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: variables.$text-color;
  margin: 0;

  @include mixins.respond(md) {
    font-size: 14px;
  }

  @include mixins.respond(sm) {
    font-size: 12px;
  }
}
