@use "variables";
@use "mixins";

.footer-block {
  background-color: variables.$bg-color-second;

  &__content {
    padding-block: 50px;

    @media (max-width: variables.$media_lg) {
      padding-block: 30px;
    }

    @media (max-width: variables.$media_md) {
      padding-block: 20px;
    }
  }

  &__name {
    color: variables.$white-text;
    line-height: 1.5;
    font-size: 21px;
    margin-bottom: 20px;

    @media (max-width: variables.$media_md) {
      font-size: 16px;
      margin-bottom: 10px;
    }

    @media (max-width: variables.$media_sm) {
      font-size: 14px;
    }
  }

  &__copyright {
    color: variables.$white-text;
    line-height: 1.5;

    @media (max-width: variables.$media_md) {
      font-size: 12px;
    }
  }
}
