@use "variables";
@use "mixins";

.section-icon {
  background-color: variables.$bg-color-second;
  padding-block: 100px;

  &__items {
    display: flex;
    gap: 45px;
    justify-content: space-between;

    @media (max-width: variables.$media_xl) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }

    @media (max-width: variables.$media_sm) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 25px;
    }
  }

  &__item {
    display: flex;
    gap: 20px;
    transition: all 0.5s;
    align-items: center;

    &:hover {
      transform: scale(1.15);
      transition: all 0.5s;
    }

    @media (max-width: variables.$media_md) {
      img {
        width: 30px;
        height: 30px;
      }
    }
  }
  @media (max-width: variables.$media_lg) {
    padding-block: 50px;
  }

  @media (max-width: variables.$media_sm) {
    padding-block: 30px;
  }
}

.icon-text {
  display: flex;
  flex-direction: column;

  &__span {
    color: variables.$white-text;

    &-size-one {
      font-size: 21px;
      font-weight: 500;

      @media (max-width: variables.$media_md) {
        font-size: 16px;
      }
    }

    @media (max-width: variables.$media_md) {
      font-size: 12px;
    }
  }
}
