$bg-color-one: #eeeff1;
$bg-color-second: #34547a;
$bg-color-third: #eeeff187;
$title-color: black;
$text-color: #727272;
$white-text: white;

$media_xl: 1200px;
$media_lg: 900px;
$media_md: 670px;
$media_sm: 470px;
