/* Footer */
.footer-block {
  background-color: var(--bg-color-second);
}

.footer-block__content {
  padding-block: 50px;
}

.footer-block__name {
  color: var(--white-text);
  line-height: 1.5;
  font-size: 21px;
  margin-bottom: 20px;
}

.footer-block__copyright {
  color: var(--white-text);
  line-height: 1.5;
}
/* Footer */

@media (max-width: 900px) {
  .footer-block__content {
    padding-block: 30px;
  }
}

@media (max-width: 670px) {
  .footer-block__name {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .footer-block__copyright {
    font-size: 12px;
  }

  .footer-block__content {
    padding-block: 20px;
  }
}

@media (max-width: 470px) {
  .footer-block__name {
    font-size: 14px;
  }

  .footer-block__content {
    padding-block: 20px;
  }
}
