/* Section icon */
.section-icon {
  background-color: var(--bg-color-second);
  padding-block: 100px;
}

.section-icon__items {
  display: flex;
  gap: 45px;
  justify-content: space-between;
}

.section-icon__item {
  display: flex;
  gap: 20px;
  transition: all 0.5s;
  align-items: center;
}
.section-icon__item:hover {
  transform: scale(1.15);
  transition: all 0.5s;
}

.icon-text {
  display: flex;
  flex-direction: column;
}

.icon-text__span {
  color: var(--white-text);
}

.icon-text__span-size-one {
  font-size: 21px;
  font-weight: 500;
}
/* Section icon */

/* How_I_Work section */
.section-how-i-work {
  background-color: var(--bg-color-one);
  padding-bottom: 100px;
}

.video {
  width: 540px;
  text-align: center;
  margin: 0 auto;
  padding: 100px 0px 55px;
}

.section-how-i-work__title {
  font-size: 32px;
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: 50px;
}

.video-block {
  position: relative;
}

.video-block__player {
  max-width: 100%;
  display: block;
}

.video-block__play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15%;
  max-width: 100px;
  min-width: 40px;
  height: auto;
  cursor: pointer;
}
.video-block__play-button:hover {
  transform: translate(-50%, -50%) scale(1.15);
  transition: all 0.5s;
  background-color: var(--bg-color-second);
  border-radius: 50%;
}
/* How_I_Work section */

/* Footer */
.footer-block {
  background-color: var(--bg-color-second);
}

.footer-block__content {
  padding-block: 50px;
}

.footer-block__name {
  color: var(--white-text);
  line-height: 1.5;
  font-size: 21px;
  margin-bottom: 20px;
}

.footer-block__copyright {
  color: var(--white-text);
  line-height: 1.5;
}
/* Footer */

@media (max-width: 1200px) {
  .section-icon__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}

@media (max-width: 900px) {
  .section-icon {
    padding-block: 50px;
  }

  .video {
    padding-block: 50px;
  }

  .section-how-i-work__title {
    margin-bottom: 30px;
  }

  .section-how-i-work {
    padding-bottom: 70px;
  }

  .footer-block__content {
    padding-block: 30px;
  }
}

@media (max-width: 670px) {
  .section-how-i-work__title {
    font-size: 28px;
  }

  .footer-block__name {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .footer-block__copyright {
    font-size: 12px;
  }

  .video {
    width: auto;
    padding: 50px;
  }

  .footer-block__content {
    padding-block: 20px;
  }

  .section-icon__item img {
    width: 30px;
    height: 30px;
  }

  .icon-text__span {
    font-size: 12px;
  }

  .icon-text__span-size-one {
    font-size: 16px;
  }
}

@media (max-width: 470px) {
  .section-icon__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }

  .section-how-i-work__title {
    font-size: 22px;
  }

  .footer-block__name {
    font-size: 14px;
  }

  .section-icon {
    padding-block: 30px;
  }

  .video {
    padding-block: 30px;
  }

  .section-how-i-work__title {
    margin-bottom: 20px;
  }

  .section-how-i-work {
    padding-bottom: 50px;
  }

  .footer-block__content {
    padding-block: 20px;
  }
}
